---
const pageTitle = 'About Me';

const identity = {
  name: 'John Doe',
  title: 'Data Analyst',
  location:'Dallas,TX',
  degree: 'B.S. Information Technology Management',
  masters: 'M.S. Data Analytics',
  graduate: 'December 2023',
};

const Contacts = {
  email: 'Lattjorr@lattjorr.tech',
  phone: '555-555-5555',
  website: 'https://www.johndoe.com',
  github: 'https://www.github.com/lattjorr',
  linkedin: 'https://www.linkedin.com/in/john-doe-12345678/',
  twitter: 'https://www.twitter.com/johndoe',
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewh2ort" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>

	<header>
		<nav>
		  <ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#portfolio">Portfolio</a></li>
			<li><a href="#contact">Contact</a></li>
		  </ul>
		</nav>
	  </header>

	<body>
<!-- 
        <h1>My Astro Site</h1>
        <h2>My first Astro site!</h2>
          -->
		<div class="about-me">
			<h1>{pageTitle}</h1>
			<p>Hi, I'm a {identity.title} and machine learning engineer with a passion for using data to drive insights and solve complex problems. My educational background includes a {identity.degree}, where I gained a strong foundation in Information technology, finance and project management . </p>
			<p>In addition to my formal education, I am also a self-taught programmer and have spent countless hours learning and exploring the world of data science and machine learning. I am proficient in Python, and have extensive experience working with popular libraries such as NumPy, Pandas, TensorFlow, and scikit-learn. </p>
			<p>I have worked on various projects in the field, ranging from predictive modeling and data visualization to natural language processing and computer vision. My goal is to continuously expand my knowledge and skills in the field, and apply my expertise to real-world problems that can have a positive impact on society.</p>
			<p>When I'm not working, you can find me reading up on the latest advancements in the field, playing video games, or hiking in the great outdoors. </p>
		  </div>
   
	</body> 
	
    <footer>
        <>It's {new Date().toLocaleTimeString()}, {new Date().toLocaleDateString()}.</>
        <p>Powered by <a href="https://astro.build">Astro </a>&copy;</p>
    </footer>
</html>

<!-- <style>
	.about-me {
	  font-family: Arial, sans-serif;
	  text-align: left;
	  margin: 40px;
	  	}
  
	h1 {
	  font-size: 32px;
	  margin-bottom: 24px;

	}
  
	p {
	  font-size: 18px;
	  line-height: 1.5;
	  margin-bottom: 24px;
	}

	footer {
	  font-family: Arial, sans-serif;
	  text-align: center;
	  margin: 40px;
  </style> -->

  <style>
	body {
	  font-family: Arial, sans-serif;
	  text-align: center;
	  margin: 40px;
	  background-color: #e6e6e6;
	}

	h1 {
	  font-size: 32px;
	  margin-bottom: 24px;
	}

	p {
	  font-size: 18px;
	  line-height: 1.5;
	  margin-bottom: 24px;
	}

	footer {
	  font-family: Arial, sans-serif;
	  text-align: center;
	  margin: 40px;
	}

	.about-me {
	  font-family: Arial, sans-serif;
	  text-align: left;
	  margin: 40px;
	}

	nav {
	  background-color: #333;
	  overflow: hidden;
	}
  
	nav ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}
  
	nav li {
	  float: left;
	}
  
	nav li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}
  
	nav li a:hover:not(.active) {
	  background-color: #111;
	}
  
	.active {
	  background-color: #4CAF50;
	}
  
	@media screen and (max-width: 600px) {
	  nav li:not(:first-child) {display: none;}
	  nav li.icon {
		float: right;
		display: block;
	  }
	}
  
	@media screen and (max-width: 600px) {
	  nav.responsive {position: relative;}
	  nav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	  }
	  nav.responsive li {
		float: none;
		display: inline;
	  }
	  nav.responsive li a {
		display: block;
		text-align: left;
	  }
	}
  </style>